* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f4f4f4;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.calculatrice {
    background-color: #333;
    width: 250px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.ecran {
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    color: #000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Pour cacher le débordement */
    text-overflow: ellipsis; /* Pour ajouter des points de suspension */
    white-space: nowrap; /* Pour éviter le retour à la ligne */
}


.touches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.bouton {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    height: 50px;
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    background-color: #d0d0d0;
}
